.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
}

.headerOption:hover {
    color: black;
}

.headerOption__title {
    font-size: 12px;
     margin-top: 5px;
    font-weight: 400;
}

.headerOption__icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}

.sidebar__avatars > img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border-radius: 50% ;
    background-color: red;
}